.about {
  display: flex;
  min-height: calc(100vh - 120px);

  &__box {
    background-color: $background-color;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__content {
    // max-width: 657px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__title {
    font-size: 38px;
    letter-spacing: -0.76px;
    color: $darkgray-color;
    margin-bottom: 26px;
  }
  &__text {
    font-size: 30px;
    letter-spacing: -0.6px;
    line-height: 55px;
    margin-top: 55px;
    max-width: 657px;
  }
  &__signature {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 41px 40px 0 0;
  }
  &__signature-img {
    background-image: url("../../assets/Signature.svg");
    width: 209px;
    height: 149px;
  }

  &__image {
    background-image: url("../../assets/People.jpg");
    background-size: cover;
    width: 50%;
    position: relative;
  }
}
