.header {
  height: calc(100vh - 114.5px);
  display: flex;
  margin-right: 142px;

  &__img {
    position: relative;
    top: -114.5px;
    left: 0;
    width: 70vw;
    height: 100vh;
    background-image: url("../../assets/Home-Hero-Image.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }
}

.cta {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2 {
    font-size: 3.8rem;
    letter-spacing: -0.76px;
    line-height: 55px;
  }
  &__decoration {
    margin-top: 25px;
  }
  &__buttons {
    display: flex;
    font-size: 3.6rem;
    gap: 44px;
  }
  &__btn {
    width: 310px;
    height: 120px;
    margin-top: 65px;
    border: 0.75px solid $darkgray-color;
    background: none;
    font-weight: 300;
    color: $darkgray-color;
    line-height: 45px;
    text-transform: uppercase;
  }
}
