.help {
  display: flex;
  justify-content: center;
  &__description {
    font-size: 22px;
    color: $darkgray-color;
    max-width: 640px;
    text-align: center;
    margin: 50px 0 35px 0;
  }
  &__content {
    width: 1344px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $darkgray-color;
    font-family: $font-alt;
    font-weight: 300;
    border-bottom: 0.75px solid $darkgray-color;
    &:last-child {
      border-bottom: none;
    }
  }
  &__title {
    font-size: 26px;
    line-height: 43px;
    margin-top: 30px;
  }
  &__text {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 30px;
  }
  &__details {
    font-size: 18px;
  }
}

.page {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: $darkgray-color;
  gap: 15px;
  margin-top: 30px;
  &__num {
    padding: 13px 15px;
    &:focus {
      outline: none;
    }
  }
  &__active {
    border: 1px solid $lightgray-color;
  }
}
