.login {
  &__container {
    min-height: calc(100vh - 120px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__title {
    font-size: 4rem;
    letter-spacing: -0.8px;
    margin-bottom: 39px;
    text-align: center;
  }
  &__boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $background-color;
    margin-top: 70px;
    padding: 40px 67px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    &:nth-child(2) {
      margin-bottom: 30px;
    }
  }
  &__msg--err {
    color: red;
    font-weight: 700;
  }
  &__label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &__input {
    border: none;
    border-bottom: 0.75px solid $darkgray-color;
    background-color: $background-color;
    width: 250px;
    font-size: 16px;
  }
  &__input--err {
    border-bottom: 1.2px solid red;
    margin-bottom: 5px;
  }
  &__buttons {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  &__btn {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 300;
    margin-top: 53px;
    padding: 13px 16px;
  }
  &__btn--active {
    border: 0.75px solid $darkgray-color;
  }
}
