.header {
  height: 100vh;
  display: flex;
  &__img {
    background-image: url("../../assets/Home-Hero-Image.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    width: 52%;
    height: 100%;
    overflow: hidden;
  }
}
